.banner-home {
    @include verticalCenter;
    flex-direction: column;

    &_title {
        @include verticalCenter;

        h1 {
            @include verticalCenter;
            font-family: $font-1;
            font-size: 30px;
        }
    }
}