.create-post-container {
display: flex;
margin: auto;
align-items: center;
border-radius: 10px;
flex-direction: column;
border: solid 1px red;
width: 750px;
height: 500px;

&_body {
    height: 300px;
    min-height: 300px;
    width: 650px;
    min-width: 650px;
    
}
}
