.sign {
    @include verticalCenter;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-top: 45px;

    & input {
        margin-bottom: 20px;
        height: 25px;
        width: 70%;
    }

   
}

.sign_confirm {
width: 50%;
height: 30px;
margin-bottom: 20px;
margin-top: 20px;
}