.password-container {
display: flex;
border: solid 1px $color-2;
width: 60%;
margin: auto;
padding: 15px;
align-content: center;
justify-content: center;
border-radius: 10px;

&_input {
    margin-right: 20px;
    border: solid 1px $color-2;
    height: 25px;
    border-radius: 5px;
}
&_button {
    width: 100px;
    height: 25px;
    background-color: $color-4;
    border: solid 1px $color-2;
    color: white;
    border-radius: 5px;

    &:hover {
        cursor: pointer;

    }
}
}