.create-post-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    border: solid 2px $color-2;
    background-color: white;

    &_form {
        margin-top: 30px;
        padding-top: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        min-height: 400px;

        &_title {
            margin-bottom: 10px;
            width: 60%;
            outline: none;
        }

        &_body {
            width: 100%;
            resize: none;
            align-items: flex-start;
            height: auto;
            min-height: 300px;
            flex-direction: column;
            word-break: break-all;
            padding: 20px;
        }

        &_button {
            width: 50%;
            height: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}

.popup-content {
    flex-direction: column;
    width: 45% !important;
    height: auto;
    left: 27.5% !important;
    top: 25% !important;

    @media screen and (max-width: 768px) {
        width: 85% !important;
        left: 7.5% !important;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 65% !important;
        left: 17.5% !important;
    }
}

.popup-arrow {
    color: rgb(255, 255, 255);
}

.popup-overlay {
    display: flex;
    width: 100%;
}

[data-popup='tooltip'].popup-overlay {
    background: rgba(255, 255, 255, 0.7);
}