.modify-post-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    border: solid 2px $color-4;
    background-color: white;
    margin-bottom: 25px;

    &_form {
        margin-top: 30px;
        padding-top: 30px;

        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        min-height: 400px;

        &_title {
            margin-bottom: 10px;
            width: 60%;
            outline: none;
        }

        &_body {
            width: 100%;
            resize: none;
            align-items:flex-start;
            height: auto;
            min-height: 300px;
            flex-direction: column;
            word-break: break-all;
  

  padding: 20px;

        }

        &_button {
            width: 50%;
            height: 30px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }



}
