.one-post {
    margin-top: 50px;
    width: 100%;

    &_username {
        display: flex;
        width: 40%;
        margin: auto;
        margin-bottom: 3px;
        color: $color-2;

        @media screen and (max-width: 480px) {
            width: 97%;
          }
          @media screen and (min-width: 481px) and ( max-width: 768px){
            width: 80%;
        }

        @media screen and (min-width: 769px) and ( max-width: 1024px){
            width: 60%;   
        }
    
    }

    &_container {
        width: 40%;
        height: auto;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-top: 50px;
        border: 1px solid $color-2;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        margin-bottom: 50px;

        @media screen and (max-width: 480px) {
            width: 97%;
          }
          @media screen and (min-width: 481px) and ( max-width: 768px){
            width: 80%;
        }
        @media screen and (min-width: 769px) and ( max-width: 1024px){
            width: 60%;   
        }


        &_title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: $color-3;
            margin-bottom: 20px;
            resize: vertical;
            word-break: break-all;
        }

        &_img {
            display: flex;
            width: 100%;
            height: 400px;

            &_img {
                margin: auto;
                width: 90%;
                height: auto;
                object-fit: contain;
                max-height: 400px;
            }
        }

        &_body {
            display: flex;
            overflow-wrap: break-word;
            margin: auto;
            padding: 10px;
            resize: vertical;
            width: 90%;
            height: auto;
            min-height: 200px;
            word-break: break-all;
        }

        &_footer {
            display: flex;
            background-color: white;
            margin: auto;


            &_btn {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 90%;
               
             
                

                &_delete,
                &_modify {
                    display: flex;
                    color: $color-2;
                    background-color: white;
                    border: none;
                    padding: 5px;
                    cursor: pointer;
                    width: 170px;
                    justify-content: center;
                
             
                    
                    

                    &:hover {
                        font-weight: bold;
                    }
                }
            }

        }
    }

    &_comment {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: auto;
        margin-top: 40px;

        @media screen and (max-width: 480px) {
            width: 97%;
          }

          @media screen and (min-width: 481px) and ( max-width: 768px){
            width: 80%;
        }
        @media screen and (min-width: 769px) and ( max-width: 1024px){
            width: 60%;   
        }

        &_add {
            display: flex;
            flex-direction: column;
            height: auto;

            &_input {
                display: flex;
                width: 100%;
                height: auto;
                min-height: 60px;
                word-break: break-all;
                resize: none;
                padding: 10px;
                border: 1px solid $color-2;
                border-radius: 12px;

                @media screen and (max-width: 480px) {
                    width: 97%;
                  }

                  
        
            }

            &_btn {
                margin-top: 3px;
                display: flex;
                justify-content: flex-end;
                @media screen and (max-width: 480px) {
                    margin-left: 10px;
                    justify-content: center;
                  }

                &_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 25px;
                    cursor: pointer;
                    border: solid 1px $color-2;
                    border-top: none;
                    background-color: $color-5;
                    color: white;
                }
            }
        }

        &_list {
            display: flex;
            flex-direction: column;

            &_comment {
                display: flex;
                flex-direction: column;

                &_label {
                    display: flex;
                    margin-bottom: 3px;
                    margin-top: 25px;
                }

                &_body {
                    display: flex;
                    border: solid black 1px;
                    height: auto;
                    min-height: 50px;
                    word-break: break-all;
                    resize: vertical;
                    padding: 10px;
                    border: 1px solid $color-2;
                    border-radius: 12px;
                }

                &_btn {
                    display: flex;
                    justify-content: flex-end;

                    &_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 60px;
                        height: 25px;
                        background-color: white;
                        border: none;
                        cursor: pointer;
                        color: $color-2;

                        &:hover {

                            font-weight: bold;
                        }
                    }
                }
            }
        }

    }
}

.one-post_username_color {
    color: black;
    padding-right: 3px;
}

.one-post_username_color_username {
    color: $color-2;
}

