@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap');

$font-1: "Rubik", sans-serif, arial; 

$color-1: #FD2D01;
$color-2: #A91E00;
$color-3: #FE4119; //5% lighter
$color-4: #FE5633; //10% lighter
$color-5: #FE6B4C; //15% lighter
$color-6: #B11F01; //15% darker


@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}